<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>


    <div id="app">
        <input type="text" v-model="n1">
        <select v-model="opt">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="n2">
        <input type="button" value="=" @click="calc">
        <input type="text" v-model="n3">
    </div>

    <script>

        var vm = new Vue({

            el: '#app', //new的vue实例要控制页面的app区域
            data: { //存放el中要用到的数据
                n1: 0,
                n2: 0,
                n3: 0,
                opt: '+'


            },
            methods: {
                calc() {
/*                     switch (this.opt) {
                        case '+':
                            this.n3 = parseInt(this.n1) + parseInt(this.n2)
                            break;

                        case '-':
                            this.n3 = parseInt(this.n1) - parseInt(this.n2)
                            break;
                        case '*':
                            this.n3 = parseInt(this.n1) * parseInt(this.n2)
                            break;
                        case '/':
                            this.n3 = parseInt(this.n1) / parseInt(this.n2)
                            break;
                    } */

                    

                    var codeStr = 'parseInt(this.n1)' +this.opt+' parseInt(this.n2)'
                    this.n3=eval(codeStr)//将传入的字符串作为js代码解析，正常开发中尽量少用
                }
            }

        })

    </script>

</body>

</html>